
ul {
  list-style-type: none;
  padding: 0;
}

li {
  list-style-type: none;
}

div.poke-place {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  background-image: url("assets/img/pokeballfull.avif"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  width: 100%;
  justify-content: center;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
}

.pokemon-card {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ff0000b7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 10px;
  width: 100%;
  height: 100%;
 
  transition: transform 0.2s, box-shadow 0.2s;
  font-family: Arial, sans-serif;

  background-image: url("assets/img/pokeball3.jpg"); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}


.pokemon-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 10px #ffee00;
}

.pokemon-card ul {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.pokemon-card strong {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5em;
  color: rgb(0, 0, 0);
}

.c-1 {
  width: 65%;
  height: 100%;
  background-color: rgba(51, 0, 255, 0.242);
  color: #ffffff;
  border-radius: 20px;
}

.c-2 {
  width: 35%;
  height: 100%;
}

.c-2 ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.pokemon-image {
  width: 250px;
  height: 100%;
}

