/* Footer.css */
.footer {
    background-color: #1a1a1a; /* Fond sombre pour correspondre à la navbar */
    color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content p {
    margin: 5px 0;
  }
  
  .footer-content a {
    color: #f1f1f1;
    text-decoration: none;
    padding: 0 5px;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  