body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 36px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

p{
  font-size: 20px;
  color: #333;
  text-align: center;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  font-size: 24px;
  color: #555;
}

.subcategory-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.subcategory-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subcategory-button:hover {
  background-color: #0056b3;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.image-grid img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}







/* Modal styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 70%;
  width: 80%;
  text-align: left;
}

.modal-image {
  width: 100%;
  height: auto;
  max-width: 600px; /* Limite la taille de l'image */
  margin-right: 20px; /* Espace entre l'image et les informations */
}

.modal-info {
  flex: 1; /* Permet à la zone d'informations de prendre toute la largeur restante */
}

.close-modal {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
}




/* Responsive adjustments */
@media (max-width: 768px) {
  .modal-content {
    flex-direction: column; /* Passe en colonne sur les écrans plus petits */
    width: 90%; /* Ajuste la largeur */
  }

  .modal-image {
    margin-right: 0;
    margin-bottom: 20px; /* Espace sous l'image en vue mobile */
    max-width: 100%; /* Image prend toute la largeur sur petits écrans */
  }

  .close-modal {
    align-self: flex-end; /* Bouton de fermeture aligné à droite */
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 95%; /* Utilise presque toute la largeur sur très petits écrans */
  }

  .close-modal {
    width: 100%; /* Le bouton prend toute la largeur sur très petits écrans */
  }
}